.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
Win32/
ARM64/

*.obj
*.o
*.pch
*.ipch
*.ilk
*.idb
*.iobj
*.ipdb
*.pdb
*.tlog
*.log
*.lastbuildstate
*.recipe
*.exp

*.sdf
*.opensdf
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.VC.opendb
*.opendb
*.vsidx

*.exe
*.dll
*.sys
*.lib

Thumbs.db
Desktop.ini
